<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Capstone Project Suite"  verbose="1">
    <listeners>
        <listener class-name="org.testng.reporters.EmailableReporter"/>
        <listener class-name="org.testng.reporters.XMLReporter"/>
    </listeners>
    <test name="Capstone Project Test">
        <classes>
            <class name="com.example.runner.TestRunner"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
